*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

header ul li{
    margin-left: 1.5rem;
}

header ul img{
    height: 24px;
}

.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}

#menu_icon{
    height: 18px;
}

#user_icon{
    height: 35px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.google-logo{
    height: 6rem;
    pointer-events: none;
    
}

.search{
    display: flex;
    width: 36%;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 0.8rem;
    border-radius: 30px;
    margin-top: 1rem;
}

.search:hover{
    box-shadow: 1px 2px 2px 2px #f2f2f2;
}

.search img{
    height: 22px;
    
}

.search input{
    width: 90%;
    border: none;
    margin-left: 0.8rem; 
    font-size: 1,2rem;
    
}

.button button{
       padding: 0.7rem;
       border: none;
       border-radius: 6px;
       margin-top: 2rem;
}

main p span{
      color: blue;
      margin-left: 0.3rem;
}

main p{
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer{
    background-color: #f2f2f2;
    padding: 0.8rem;
    margin-top: 7%;
}

footer ul{
    list-style: none;
}

footer div p{
    padding: 0.6rem 0.6rem;
}

.bottom-menu{
    display: flex;
    justify-content: space-between;

}

footer div ul{
    display: flex;
    padding: 0.6rem 0;
}

footer div ul li{
    padding: 0 0.6rem;
}